<div class="container mx-auto" id="print" >    
    <h3>Талон виходу на воду</h3>        
    <form class="col-7" [formGroup]="getTicetform" (ngSubmit)="submit()" >                
        <div class="form-group">        
            <table class="table table-striped" >
                <tr>                    
                    <th scope="col">ПІП</th>
                    <th scope="col">Номер човна</th>                    
                </tr>
                <tr>                    
                    <td >{{name}}</td>
                    <td >{{number}}</td>                   
                </tr>
            </table> 
        </div>
        <div class="form-group">
            <label for="number">Кількість людей</label>
            <input type="text" class="form-control" id="people" placeholder="Кількість людей" formControlName="numberOfPeople">
        </div>
                
        <!-- <div class="form-group" >            
            <label for="number" >Кількість днів </label> 
            <input type="text" class="form-control" id="days" placeholder="Кількість днів" formControlName="numberOfDays">
        </div> -->
        <div class="form-group" >            
            <label for="number" >Кількість днів - {{diff}}</label> 
            <input type="date" class="form-control" id="daysfrom" placeholder="з" formControlName="daysfrom" >
            <input type="date" class="form-control" id="daysto" placeholder="по" formControlName="daysto">
        </div>

        <div class="formprivilege-group" >            
            <label for="">Пільга: </label>            
            <input type="checkbox" id="privilege" name="privilege" formControlName="privilege">  
        </div>                    
        <button type="submit" class="btn btn-primary" [disabled]="getTicetform.invalid" >Отримати</button>            
    </form> 
    
</div>