<div class="container">
    <h3>Реєстраційний талон</h3>
    <form class="col-7">
        <div class="form-group">
            <label for="number">Номер плавального засобу</label>
            <input type="text" class="form-control" id="number" placeholder="Номер плавального засобу">
        </div>
        <div class="form-group">
            <label for="number">Прізвище, ім'я, по батькові</label>
            <input type="text" class="form-control" id="name" placeholder="Прізвище, ім'я, по батькові">
        </div>       
        
        
        <button type="submit" class="btn btn-primary">Зареєструвати</button>
        
    </form>
</div>