<div class="container">
    <h3>Реєстраційний талон</h3>
    <form class="col-7" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="number">Номер плавального засобу</label>
            <input type="text" class="form-control" id="number" name="number" placeholder="Номер плавального засобу" formControlName="number" required >
            <!-- <pre>
                {{form.value | json}}
            </pre> -->
            <div class="validation" *ngIf="form.touched==true">                
                <small *ngIf="form.value.number=='' ">
                    type something
                </small>
            </div>
        </div>
        <!-- <pre>{{form.get()}}</pre> -->
        <div class="form-group">
            <label for="full_name">Прізвище, ім'я, по батькові</label>
            <input type="text" class="form-control" id="name" placeholder="Прізвище, ім'я, по батькові" formControlName="full_name">
            <div class="validation" *ngIf="form.touched==true">                
                <small *ngIf="form.value.full_name=='' ">
                    type full name
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="location">Місце знахождення:</label>
            <select name="location" id="location" class="form-select" formControlName="location">
                <option value="town1">town1</option>
                <option value="town2">town2</option>
                <option value="town3">town3</option>
                <option value="town4">town4</option>
                <option value="town5">town5</option>
            </select>
        </div>
        <div class="form-group">            
            <label for="">Згода на обробку персональних данних: </label>            
            <input type="checkbox" id="personal" name="personal" class="form-check-input" formControlName="personal" required>
            <!-- <mat-checkbox (change)="checkValue($event)">text</mat-checkbox> -->
        </div> 
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid" mat-button>Зареєструвати</button>
        
    </form>
</div>